header {
  background-color: navy;
  text-align: center;
  padding: 20px;
  color: white;
  border: dotted;
}
 
card {
  background-color: lightblue;
  background-image: linear-gradient(lightblue, lightyellow, lightgray);
  padding: 20px;
  margin-top: 20px;
}
column {
  float: left;
}
column.side {
  width: 10%;
}
column.middle {
  width: 80%;
}
@media screen and (max-width: 600px) {
  column.side, column.middle {
    width: 100%;
  }
}
body {
    margin: 60px auto;
    width: 70%;
}

div {
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
}

nav ul, footer ul {
    font-family:'Veranda', 'Geneva', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #799;
}
a:hover {
    text-decoration: underline;
}

li {
  display: inline;
}

title {
    font-size: 4em;
    font-family: "Georgia", "Times New Roman", Serif;
    color: gray;
    text-align: center;
    font-variant: small-caps;
}

h1 {
    font-size: 3em;
    font-family:"Georgia", "Times New Roman", Serif;
    color: gray;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    font-family:"Georgia", "Times New Roman", Serif;
    text-align: center;
    color: gray;
}

h3 {
    font-size: 1.8em;
    font-family:"Georgia", "Times New Roman", Serif;
}

h4 {
    font-size: 1.8em;
    font-family:"Georgia", "Times New Roman", Serif;
}

h5 {
    font-size: 2em;
    font-family:"Georgia", "Times New Roman", Serif;
}

h6 {
    font-size: 2em;
    font-family:"Georgia", "Times New Roman", Serif;
}

h7 {
    font-size: 2em;
    font-family:"Georgia", "Times New Roman", Serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    text-indent: 30px;
    text-rendering: optimizeLegibility;
}
p.italic {
    font-style: italic;
}
    
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: horizontal;
}
