@font-face{
  font-family: AlexBrush;
  src: url(homework/hw2/alexbrush-regular.ttf);
}

* {
display:block;
background-color: transparent;
text-transform: uppercase;
font-family: AlexBrush;
}

lb {
    line-height: 20px;
}

[rendition~="#center"] {
    text-align: center;
}

[rendition~="#x-large"] {
    font-size: 200%;
}


[rendition~="#xx-large"] {
    font-size: 225%;
    font-family: AlexBrush;
    }

[rendition~="#red"] {
        color: red
}

[rendition~="#large"] {
    font-size: 150%;
}

[rendition~="#small"] {
    font-size: 75%;
}

[rendition~="#uppercase"] {
    text-transform: uppercase;
}

[rendition~="#expanded"] {
    letter-spacing: 5px;
}
space[quantity="1"] {padding:10px;}
